
div.fca-ept-layout1 {
	font-size: 16px;
	margin: 0 auto;
	display: flex;
	font-family: inherit;
	line-height: 1.5;
}

div.fca-ept-layout1 div.fca-ept-column { 
	font-family: inherit;
	margin-right: 20px;
	margin-top: 54px;
	vertical-align: top; 
	white-space: normal; 
	width: 100%;
	border: #ddd solid 1px;
	border-radius: 4px;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
}

div.fca-ept-layout1 div.fca-ept-column.fca-ept-most-popular { 
	grid-template-rows: auto auto auto 1fr auto;
}

div.fca-ept-layout1 div.fca-ept-popular { 
	font-family: inherit;
	display: none;
	padding: 10px; 
	text-align: center; 
	font-weight: bold; 
	margin-bottom: 2px; 
	margin-top: -54px;
	border-radius: 4px;
}

div.fca-ept-layout1 div.fca-ept-popular.fca-ept-most-popular { 
	display: block;
}

div.fca-ept-layout1 div.fca-ept-plan-div{ 
	font-family: inherit;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	word-break: break-word;
	text-align: center; 
	padding: 15px 20px; 
	font-weight: bold; 
	font-size: 1em; 
}

div.fca-ept-layout1 div.fca-ept-plan-div div.fca-ept-plan-image img {
	display: block;
	max-width: 100%;
	margin: 25px auto 0;
}

div.fca-ept-layout1 div.fca-ept-plan-div .fca-ept-plan img{
	margin: auto;
}

div.fca-ept-layout1 div.fca-ept-plan-div div.fca-ept-plan-image img.fca-ept-image2{
	display: none;
}

div.fca-ept-layout1 div.fca-ept-plan-image{
	text-align: center;
}

div.fca-ept-layout1 div.fca-ept-price-div{
	font-family: inherit;
	text-align: center; 
	padding: .9375em 1.25em; 
	font-weight: normal; 
	font-size: 1.25em; 
}

div.fca-ept-layout1 div.fca-ept-price-div .fca-ept-price{
	line-height: 1.5;
}

div.fca-ept-layout1 div.fca-ept-features-div{
	text-align: center; 
	font-size: 0.875em; 
	font-weight: normal; 
}

div.fca-ept-layout1 div.fca-ept-features-div ul{
	font-family: inherit;
	padding: 0;
	margin: 0;
}

div.fca-ept-layout1 div.fca-ept-features-div li{
	list-style-type: none;
	font-family: inherit;
	padding: .9375em .5em .9375em .5em;
	border-bottom: dotted 1px #ddd;
}

/* Fix for Gutenberg bug where removing an entire line adds a span to the element */
div.fca-ept-layout1 div.fca-ept-features-div .fca-ept-features li span:not( div.fca-ept-tooltip-div>span.fca-ept-tooltiptext ){
	font-size: inherit !important;
}

div.fca-ept-layout1 div.fca-ept-button-div{ 
	font-family: inherit;
	text-align: center; 
	padding-top: 1.25em; 
	padding-bottom: 1.25em; 
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

div.fca-ept-layout1 a.fca-ept-button{
	cursor: pointer;
	position: relative;
	font-weight: bold;
	padding: 16px 10px 10px 10px;
	width: 75%;
    display: inline-block;
	white-space: normal;
	text-align: center;
	align-self: self-end;
	text-decoration: none !important;
	-webkit-appearance: unset;
	font-size: 1em;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 4px;

	/* from zurb */
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}

div.fca-ept-layout1 div.fca-ept-column.fca-ept-most-popular.fca-ept-selected-column {
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px 0px;
	border: 0px solid;
	padding: 1px;
}

/* Custom tooltips - General settings */
.fca-ept-tooltip {
	position: relative;
}

.fca-ept-tooltip:before {
	visibility: hidden;
	position: absolute;
	
	bottom: 18px;
	max-width: 300px;
	
	line-height: 1;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: initial;
	
	color: #ffffff;
	background-color: #424242;
	text-align: center;
	padding: 5px;
	
	text-transform: initial;
	border-radius: 5px;
	/* LIGHT WIZARDRY */
	width: max-content;
	content: attr( data-tooltip );
	transform:translateX( calc( -50% + 7px ) );
}

.fca-ept-tooltip:active:before {
	visibility: visible;
	z-index: 2;
}

/* OLD TOOLTIPS */
div.fca-ept-tooltip-div {
	position: relative;
	font-size: 20px;
	display: inline-block !important;
	line-height: 1;
}

div.fca-ept-tooltip-div .fca-ept-tooltiptext {
	visibility: hidden;
	width: max-content;
	background-color: #424242;
	font-weight: initial;
	color: #ffffff;
	text-align: center;
	padding: 5px;
	bottom: -23px;
	position: absolute;
	line-height: 1;
	z-index: 1;
	font-size: 14px;
	text-transform: initial;
	border-radius: 5px;
	font-family: sans-serif;
}

div.fca-ept-tooltip-div:hover .fca-ept-tooltiptext {
	visibility: visible;
}

div.fca-ept-tooltip-div .fca-ept-tooltiptext:hover {
	visibility: hidden;
}

div.wp-block-fatcatapps-easy-pricing-tables .fca-ept-plan-image .fca-ept-image1, div.wp-block-fatcatapps-easy-pricing-tables .fca-ept-plan-image .fca-ept-image2{
  display: none;
}

/* smartphones */
@media only screen and (max-width: 765px){

	div.fca-ept-layout1{
		font-size: 75%;
		display: block;
	}

	div.fca-ept-layout1 div.fca-ept-column.fca-ept-most-popular { 
		margin-top:100px;
	}
	
}

