
.dh-ptp-gutenblock-select {
	padding-right: 2px;
	padding-left: 7px;
	margin-top: 8px;
	border-top: 1px solid #e2e4e7;
	border-bottom: 1px solid #e2e4e7;
	background-color: #fff;
	width: max-content;
}

.dh-ptp-gutenblock-select .components-select-control__input{
	padding: 0 24px 0 8px;
}

.dh-ptp-gutenblock-select .components-base-control__field {
	margin-bottom: 0;
	margin-top: 3px;
	margin-left: 4px;
}

a.dh-ptp-gutenblock-link {
	font-family:sans-serif;
	background-color: white;
	border-top: 1px solid #e2e4e7;
	border-bottom: 1px solid #e2e4e7;
	margin-bottom: 0;
	padding-top: 22px !important;
	padding-left: 4px;

}

.fca-ptp-colorpicker .components-circular-option-picker__option, 
.fca-ptp-colorpicker .components-circular-option-picker__option-wrapper:before, 
.fca-ptp-colorpicker .components-circular-option-picker__option:after, 
.fca-ptp-colorpicker .components-circular-option-picker__option:focus:after,
.fca-ptp-colorpicker .components-circular-option-picker__option-wrapper{
	border-radius: 0;
}

.fca-ptp-copyhtml-popover {
	margin: 0;
    padding: 4px;
    background-color: black;
    color: white;
    width: max-content;
}

.fca-ptp-sidebar-popover {
	margin: 0;
	padding: 4px;
	background-color: black;
	color: white;
}

div.fca-ptp-input.components-base-control{
	width: 50px;
	margin-top: 12px;
    margin-right: 5px;
}

/**********/
/* Layout */
/**********/

.fca-ptp-url-popover .components-popover__content{
    min-width: unset;
    width: 250px;
    top: -25px;
    padding: 4px 8px;
}

.fca-ptp-tooltip-popover .components-popover__content{
	background-color: black;
    color: white;
    min-width: unset;
    width: 250px;
    top: -25px;
    padding: 4px 8px;
}

.fca-ptp-tooltip{
	margin-left: -20px;
}

/*surround blue wrapper */
.block-editor-block-list__layout .block-editor-block-list__block:after,
.block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable]):focus:after,
.block-editor-block-list__layout .block-editor-block-list__block.is-highlighted:after{
	width: calc( 125% + 20px);
    max-width: calc( 125% );
    left: -12.5%;
}

/***************/
/* Sidebar CSS */
/***************/

.components-circular-option-picker .components-circular-option-picker__custom-clear-wrapper {
	justify-content: unset;
}

.components-panel__body.is-opened {
	padding-bottom: 0;
}

.interface-complementary-area h2 {
	margin-bottom: 0px;
	font-weight: 500;
}

.components-base-control.components-toggle-control.fca-ptp-toggle{
	margin-bottom: -10px;
}

/********************/
/*** Toolbar CSS ****/
/********************/

.fca-ptp-increase-fontsize {
	border-left: 1px solid;
	border-left-color: #1e1e1e;
	border-radius: 0;
}


/********************/
/* Live Preview CSS */
/********************/

div.fca-ptp-layout1 .block-editor-rich-text__editable:focus, div.fca-ptp-layout1 .block-editor-rich-text__editable:hover{
	outline: 2px dashed #2b78e4;
}


