
div.fca-ept-layout1 {
	font-size: 16px;
	margin: 0 auto;
	display: flex;
	font-family: inherit;
}

div.fca-ept-layout1 div.fca-ept-column { 
	font-family: inherit;
	margin-right: 20px;
	margin-top: 54px;
	vertical-align: top; 
	white-space: normal; 
	width: 100%;
	border: #ddd solid 1px;
	border-radius: 4px;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
}

div.fca-ept-layout1 div.fca-ept-column.fca-ept-most-popular { 
	grid-template-rows: auto auto auto 1fr auto;
}

div.fca-ept-layout1 div.fca-ept-popular { 
	font-family: inherit;
	display: none;
	padding: 0.3em; 
	text-align: center; 
	font-weight: bold; 
	margin-bottom: 2px; 
	margin-top: -54px;
	border-radius: 4px;
}

div.fca-ept-layout1 div.fca-ept-popular.fca-ept-most-popular { 
	display: block;
}

div.fca-ept-layout1 div.fca-ept-plan-div{ 
	font-family: inherit;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	word-break: break-word;
	text-align: center; 
	padding: 15px 20px;
	font-weight: bold; 
	font-size: 1em; 
}

div.fca-ept-layout1 div.fca-ept-plan-div .fca-ept-plan img {
	display: block;
	margin: auto;
}

div.fca-ept-layout1 div.fca-ept-price-div{
	font-family: inherit;
	text-align: center; 
	padding: .9375em 1.25em; 
	font-weight: normal; 
	font-size: 1.25em; 
}

div.fca-ept-layout1 div.fca-ept-price-div .fca-ept-price{
	line-height: 1.5;
}

div.fca-ept-layout1 div.fca-ept-features-div{
	text-align: center; 
	font-size: 0.875em; 
	font-weight: normal; 
}

div.fca-ept-layout1 div.fca-ept-features-div ul{
	font-family: inherit;
	list-style: none;
	padding: 0;
	margin: 0;
}

div.fca-ept-layout1 div.fca-ept-features-div li{
	font-family: inherit;
	padding: .9375em .5em .9375em .5em;
	border-bottom: dotted 1px #ddd;
}

/* Fix for Gutenberg bug where removing an entire line adds a span to the element */
div.fca-ept-layout1 div.fca-ept-features-div li span{
	font-size: inherit !important;
}

div.fca-ept-layout1 div.fca-ept-button-div{ 
	font-family: inherit;
	text-align: center; 
	padding-top: 1.25em; 
	padding-bottom: 1.25em; 
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

div.fca-ept-layout1 a.fca-ept-button{
	cursor: pointer;
	position: relative;
	font-weight: bold;
	padding: 16px 10px 10px 10px;
	width: 75%;
    display: inline-block;
	white-space: normal;
	text-align: center;
	align-self: self-end;
	text-decoration: none !important;
	-webkit-appearance: unset;
	font-size: 1em;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 4px;

	/* from zurb */
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}

div.fca-ept-layout1 a.fca-ept-button span{
	cursor: pointer;
}

div.fca-ept-layout1 div.fca-ept-column.fca-ept-selected-column, div.fca-ept-layout1 div.fca-ept-column.fca-ept-most-popular.fca-ept-selected-column {
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px 0px;
	border: 0px solid;
	padding: 1px;
}

/* smart phones */
@media only screen and (max-width: 765px) {

	div.fca-ept-layout1{
		display: block;
	}

	div.fca-ept-layout1 div.fca-ept-column.fca-ept-most-popular { 
		margin-top:100px;
	}
	
}

