.fca-ept-modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.35);
    z-index: 100000;
}
.fca-ept-modal-inner {
	position: relative;
	background-color:white;
	max-width: 964px;
	margin: 60px auto;
}

.fca-ept-modal-inner h2{
	font-size: 16px;
	margin: 0;
	padding: 24px 32px;
	border-bottom: 1px solid #DDDDDD;
}

.fca-ept-modal-list {
	padding: 24px 32px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.fca-ept-modal-list > a {
	text-decoration: none;
	color: #1D2327;
}
.fca-ept-modal-list a:hover {
	color: #2271b1;
}
.fca-ept-modal-list a:hover h3{
	color: #2271b1;
}

.fca-ept-modal-list .fca-ept-modal-list-group {
	position: relative;
	border: 1px solid #ddd;
	text-align: left;
	background-color: white;	
	padding: 20px 32px 18px 50px;
}

.fca-ept-modal-list .fca-ept-modal-list-group span.dashicons{
	position: absolute;
	top: 20px;
	left: 20px;
}

.fca-ept-modal-list .fca-ept-modal-list-group h3 {
	font-size: 13px;
	font-weight: bold;
	margin: 0 0 12px 0;
}

.fca-ept-modal-list .fca-ept-modal-list-group h4 {
	font-size: 13px;
	font-weight: bold;
	margin: 0;
}
.fca-ept-modal-list .fca-ept-modal-list-group p {
	font-size: 13px;
	margin: 0 0 12px 0;
}

#fca-ept-modal-close {
	text-decoration: none;
	font-weight: bold;
	top: 24px;
	right: 32px;
	position: absolute;
	color: #1D2327;
}