.wp-block-fatcatapps-pricing-table-blocks.toggle-active .fca-ept-plan:before{ 
  content: attr( data-plan2 );
}

.wp-block-fatcatapps-pricing-table-blocks.toggle-active .fca-ept-price:before{ 
	content: attr( data-price2 );
}

.wp-block-fatcatapps-pricing-table-blocks.toggle-active .fca-ept-price-period:before{
  content: attr( data-period2 );
}

.wp-block-fatcatapps-pricing-table-blocks.toggle-active .fca-ept-price-billing:before{
  content: attr( data-billing2 );
}

.wp-block-fatcatapps-pricing-table-blocks .fca-ept-plan:before{ 
  content: attr( data-plan1 );
}

.wp-block-fatcatapps-pricing-table-blocks .fca-ept-price:before{ 
  content: attr( data-price1 );
}

.wp-block-fatcatapps-pricing-table-blocks .fca-ept-price-period:before{
  content: attr( data-period1 );
}

.wp-block-fatcatapps-pricing-table-blocks .fca-ept-price-billing:before{
  content: attr( data-billing1 );
}

.wp-block-fatcatapps-pricing-table-blocks .fca-ept-plan-image .fca-ept-image1{
  display: block;
}

.wp-block-fatcatapps-pricing-table-blocks .fca-ept-plan-image .fca-ept-image2{
  display: none;
}

.wp-block-fatcatapps-pricing-table-blocks.toggle-active div.fca-ept-plan-image .fca-ept-image1{
  display: none;
}

.wp-block-fatcatapps-pricing-table-blocks.toggle-active div.fca-ept-plan-image .fca-ept-image2{
  display: block;
}

/* TOGGLE */

div.fca-ept-toggle-period-container {
  font-family: inherit;
  text-align: center;
}

/* The switch - the box around the slider */
div.fca-ept-toggle-period-container .fca-ept-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0 5px;
}

/* Hide default HTML checkbox */
div.fca-ept-toggle-period-container .fca-ept-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
div.fca-ept-toggle-period-container .fca-ept-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .1s;
  transition: .1s;
}

div.fca-ept-toggle-period-container .fca-ept-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
  border: 1px solid #000;
}

div.fca-ept-toggle-period-container input:focus + .fca-ept-slider {
  box-shadow: 0 0 1px #2196F3;
}

div.fca-ept-toggle-period-container input:checked + .fca-ept-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
div.fca-ept-toggle-period-container .fca-ept-slider.fca-ept-round {
  border-radius: 34px;
}

div.fca-ept-toggle-period-container .fca-ept-slider.fca-ept-round:before {
  border-radius: 50%;
}