
/**********/
/* Layout */
/**********/

.fca-ept-copyhtml-popover {
	margin: 0;
	padding: 6px;
	background-color: black;
	color: white;
	width: max-content;
}

.fca-ept-sidebar-popover {
	margin: 0;
	padding: 6px;
	background-color: black;
	color: white;
}

.fca-ept-url-popover .components-popover__content{
    min-width: unset;
    width: 250px;
    top: -25px;
    padding: 4px 8px;
}

.fca-ept-tooltip-popover .components-popover__content{
	background-color: black;
    color: white;
    min-width: unset;
    width: 250px;
    top: -25px;
    padding: 4px 8px;
}

.fca-ept-tooltip{
	margin-left: -20px;
}

/*surround blue wrapper */
.block-editor-block-list__layout .block-editor-block-list__block:after,
.block-editor-block-list__layout .block-editor-block-list__block:not([contenteditable]):focus:after,
.block-editor-block-list__layout .block-editor-block-list__block.is-highlighted:after{
	width: calc( 125% + 20px);
    max-width: calc( 125% );
    left: -12.5%;
}

/***************/
/* Sidebar CSS */
/***************/

.components-circular-option-picker .components-circular-option-picker__custom-clear-wrapper {
	justify-content: unset;
}

.fca-ept-colorpicker .components-circular-option-picker__option, 
.fca-ept-colorpicker .components-circular-option-picker__option-wrapper:before, 
.fca-ept-colorpicker .components-circular-option-picker__option:after, 
.fca-ept-colorpicker .components-circular-option-picker__option:focus:after,
.fca-ept-colorpicker .components-circular-option-picker__option-wrapper{
	border-radius: 0;
}

.components-panel__body.is-opened {
	padding-bottom: 0;
}

.interface-complementary-area h2 {
	margin-bottom: 0px;
	font-weight: 500;
}

.components-base-control.components-toggle-control.fca-ept-toggle{
	margin-bottom: -10px;
}

/********************/
/*** Toolbar CSS ****/
/********************/

.fca-ept-increase-fontsize {
	border-left: 1px solid;
	border-left-color: #1e1e1e;
	border-radius: 0;
}

/********************/
/* Live Preview CSS */
/********************/

div.fca-ept-layout2 .block-editor-rich-text__editable:focus, div.fca-ept-layout2 .block-editor-rich-text__editable:hover{
	outline: 2px dashed #2b78e4;
}
