
/* GENERAL SETTINGS */

.entry .entry-content > div.fca-ept-layout2 > *:first-child{
	margin-top: auto;
}

div.fca-ept-layout2 {
	font-size: 16px;
	display: flex;
	margin: 0 auto;
	font-family: inherit;
	padding-top: 5px;
	padding-right: 20px;
	line-height: 1.5;
}

div.fca-ept-layout2 div.fca-ept-column {
	font-family: inherit;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.14);
	border-radius: 24px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	position: relative;
	overflow-wrap: break-word;
	padding-left: 40px;
	padding-right: 40px;
	margin: 10px 8px 0 8px;
	display: grid;
	grid-template-rows: auto auto auto 1fr auto;
}

div.fca-ept-layout2 div.fca-ept-column.fca-ept-selected-column {
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px 0px;
}

/* POPULAR */
div.fca-ept-layout2 div.fca-ept-popular-div{
	font-family: inherit;
	display: none;
    text-align: left;
    margin: 0 0 -6px 0;
}

div.fca-ept-layout2 .fca-ept-popular-svg{
	display: none;
}

div.fca-ept-layout2 .fca-ept-popular-text{
	display: inline-block;
    text-transform: uppercase;
	font-weight: bold;
	padding: 0 5px;
}

/* PLAN */
div.fca-ept-layout2 div.fca-ept-plan-div{
	font-family: inherit;
	text-align: start;
}

div.fca-ept-layout2 div.fca-ept-plan-div .fca-ept-plan img{
	display: block;
	margin: 0 auto 20px;
}

div.fca-ept-layout2 div.fca-ept-plan-div img {
	margin: 10px auto 0;
}

div.fca-ept-layout2 .fca-ept-plan-svg{
	display: none;
}

div.fca-ept-layout2 .fca-ept-plan{
	word-break: break-word;
	display: inline;
	vertical-align: top;
	font-weight: 600;
	line-height: 1.5;
}

div.fca-ept-layout2 .fca-ept-plan-subtext{
	display: block;
	margin-top: -13px;
	width: fit-content;
}

/* PRICE */

div.fca-ept-layout2 .fca-ept-price-container{
	font-family: inherit;
	padding: 0;
	margin-top: 20px;
}

div.fca-ept-layout2 .fca-ept-price{
	display: inline-block;
	font-weight: bolder;
	line-height: 1;
	margin: 0 10px 0 0;
}

/* PRICE SUBTEXT CONTAINER */
div.fca-ept-layout2 .fca-ept-price-subtext{
	display: block;
	line-height: 1;
}

div.fca-ept-layout2 .fca-ept-price-svg{
	display: none;
}

div.fca-ept-layout2 div.fca-ept-price-div .fca-ept-price-period{
	text-transform: unset;
	font-weight: 500;
	line-height: 1;
	margin-top: 10px;
	display: block;
	width: fit-content;
}

div.fca-ept-layout2 div.fca-ept-price-div .fca-ept-price-billing{
	display: none;
}

/* FEATURES */
div.fca-ept-layout2 div.fca-ept-features-div ul{
	font-family: inherit;
	letter-spacing: inherit;
	text-align: start;
	margin: 35px 0;
	padding-left: 0;
	font-weight: 500;
}

div.fca-ept-layout2 div.fca-ept-features-div .fca-ept-features li{
	font-family: inherit;
	list-style: none;
	line-height: 2.7;
	margin: 0;
}

/* Fix for Gutenberg bug where removing an entire line adds a span to the element */
div.fca-ept-layout2 div.fca-ept-features-div .fca-ept-features li span{
	font-size: inherit !important;
}

div.fca-ept-layout2 div.fca-ept-features-div .fca-ept-features li::marker{
	color: #0f61d8;
}

div.fca-ept-layout2 div.fca-ept-features-div .fca-ept-features li img {
	display: block;
	margin: 12px auto;
}


/* BUTTONS */
div.fca-ept-layout2 a.fca-ept-button{
	font-family: inherit;
	padding: 10px;
	width:100%;
	border-radius: 8px;
	white-space: normal;
	text-align: center;
	font-weight: 500;
	align-self: self-end;
	text-decoration: none !important;
	-webkit-appearance: unset;
}

div.fca-ept-layout2 a.fca-ept-button:hover{
	-webkit-box-shadow: none;
	box-shadow: none;
}

div.fca-ept-layout2 a.fca-ept-button span{
	cursor: pointer;
}

/* small display */

@media only screen and (max-width: 800px){

	.entry .entry-content > *.alignfull{
		max-width: unset !important;
		width: unset !important;
		min-width: 250px !important;
	}

	div.fca-ept-layout2, div.fca-ept-toggle-period-container {
		font-size: 75%;
		display: block;
		padding-right: 0;
	}

	/* keep from overlapping with previous column */
	div.fca-ept-layout2 div.fca-ept-column{
		margin-top: 15px !important;
	}

}

