





.components-panel__header.interface-complementary-area-header.edit-post-sidebar__panel-tabs {
	display: none;
}


.components-dropdown.block-editor-inserter {
	display: none;
}

.block-editor-default-block-appender {
	display: none;
}

.edit-post-header-toolbar__left div.components-dropdown {
	display: none;
}

.block-editor-block-list__layout.is-root-container .block-list-appender.wp-block {
	display: none;
}



	/*
	
	
	$( '.editor-post-title__input' ).css( 'textAlign', 'center' )
	$( '.editor-post-title__input' ).css( 'height', 'unset' )
	$( '.editor-post-title__input' ).css( 'fontSize', '300%' )
	$( '.editor-post-title__input' ).css( 'margin', '0%' )
	
	$( '.edit-post-visual-editor__post-title-wrapper' ).css( 'paddingBottom', '5px' )
	
	$( '.editor-styles-wrapper' ).css( 'backgroundColor', 'white' )
	
	$( '.block-editor-block-list__layout.is-root-container .block-list-appender.wp-block' ).css( 'display', 'none' )
	
	$( '.wp-block editor-post-title.editor-post-title__block' ).css( 'paddingBottom', '30px' )
	$( '.wp-block.editor-post-title.editor-post-title__block' ).css( 'margin', '0 auto' )
	$( '.wp-block.editor-post-title.editor-post-title__block' ).css( 'width', '100%' )
	$( '.wp-block.editor-post-title.editor-post-title__block' ).css( 'padding', '0 110px 0 0' )
	$( '.wp-block.editor-post-title.editor-post-title__block' ).css( 'fontSize', '0.5vw' )
	
	
	
	$( '.edit-post-header-toolbar' ).css( 'flexGrow', '0' )
	$( '.editor-styles-wrapper' ).css( 'paddingTop', '30px' )
	
	
$( '.wp-block.editor-post-title.editor-post-title__block' ).appendTo( '.edit-post-header__toolbar' )