@font-face {
	font-family: "FontAwesome";
	font-weight: normal;
	font-style: normal;
	src: url("../../pricing-tables/font-awesome/fonts/FontAwesome.otf");
}

div.fca-ept-table-container .block-editor-rich-text__editable:focus, 
div.fca-ept-table-container .block-editor-rich-text__editable:hover {
	outline: 2px dashed #2b78e4;
}

div.fca-ept-table-container .fca-ept-plan-image {
	cursor: pointer;
}

div.fca-ept-table-container .fca-ept-plan-image:hover {
	outline: 2px dashed #2b78e4;
}

div.fca-ept-layout8 div.fca-ept-column.fca-ept-selected-column {
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px 0px;
}
div.fca-ept-layout7 div.fca-ept-column.fca-ept-selected-column {
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px 0px;
}
div.fca-ept-layout3 div.fca-ept-column.fca-ept-selected-column {
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px 0px;
}
div.fca-ept-layout2 div.fca-ept-column.fca-ept-selected-column {
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px 0px;
}
div.fca-ept-layout4 div.fca-ept-column.fca-ept-selected-column {
	box-shadow: rgba(0 0 0 / 50%) 1px 5px 10px 0px
}
div.fca-ept-layout6 div.fca-ept-column.fca-ept-selected-column {
	box-shadow: rgba(0 0 0 / 50%) 1px 5px 10px 0px
}
div.fca-ept-layout5 div.fca-ept-column.fca-ept-selected-column {
	z-index: 1;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px 0px;
}
div.fca-ept-layout1 div.fca-ept-column.fca-ept-selected-column, div.fca-ept-layout1 div.fca-ept-column.fca-ept-most-popular.fca-ept-selected-column {
	box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px 0px;
	border: 0px solid;
	padding: 1px;
}

/* HIDE COLOR PICKER SWATCHES WHEN COLLAPSED */
div.fca-ept-sidebar-items .block-editor-panel-color-gradient-settings__panel-title .component-color-indicator {
	display: none;  
}

div.fca-ept-layout-selection .layout-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0 auto;
}

div.fca-ept-layout-selection .layout-container .layout {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	font-family: sans-serif;
	padding: 24px 24px 8px 24px;
    margin: 0 0 24px 0;
	position: relative;
}
div.fca-ept-layout-selection .layout-container .layout img{
	max-width: 300px;
	height: auto;
}

div.fca-ept-layout-selection .layout-container .layout:hover {
	transition: transform ease 300ms;
	transform: translate( 0, -1px );
	box-shadow: 0 0 20px -2px rgba(0,0,0,0.25);
}
div.fca-ept-layout-selection .layout-container .layout button{
	position: absolute;
	left: calc( 50% - 45px );
	top: 45%;
	display: none;
}

div.fca-ept-layout-selection .layout-container .layout.pro-only:hover button {

	display: block;
}
div.fca-ept-woo-products li{
	color: #000;
}

.fca-ept-fa-icons-modal {
	min-width: 530px;
}

.fca-ept-fa-icons.components-combobox-control li {
	font-size: 16px;
	font-family: "FontAwesome", sans-serif;
}


@media only screen and ( max-width: 900px ){

	div.fca-ept-layout-selection .img-container {
		display: block;
	}

	div.fca-ept-layout-selection .layout-name {
		margin-bottom: 30px;
	}

}

